body,ul,ol,li,a,p,h1,h2,h3,h4,h5,h6,span{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	color: #666;
	font-size: 12px;
	list-style: none;
}
img{
	border:0;
}
a{
	text-align: center;
	text-decoration: none;
}
/*top开始*/
/*top顶部开始*/
.top-box{
	width:100%;
	margin-bottom: 25px;
}
.top{
	width:100%;
	height:34px;
	background: #eee;
}
.top .top-range{
	width:1190px;
	height: 100%;
	margin:0 auto;
}
.top-range-left{
	width:336px;
	height:100%;
	float:left;
	position: relative;
}
.top-range-right{
	width:490px;
	height:100%;
	float: right;
}
.top-range-left a{
	display: block;
	float:left;
	line-height: 34px;
	padding-left:27px;
	margin:0 6px;
	color: #666;
	text-align: left;
}
.top-range-left2{
	position: absolute;
	top:0;
	left:87px;
	width:97px;
}
.top-range-left3{
	width:121px;
	position: absolute;
	top:0;
	right:0;

}
.top-range-left2 .weichat{
	width:100px;
	height:100px;
	padding:8px 12px 10px;
	position: absolute;
	top:34px;
	left:0;
	background: #fff;
	z-index: 2;
	display: none;
}
.top-range-left2 .weiwei{
	position: absolute;
	top:15px;
	left:58px;
}
.top-range-left2:hover .weiwei{
	transform:rotate(180deg);
}
.top-range-left3:hover .shouji1{
	transform:rotate(180deg);
}
.top-range-left3 .shouji{
	width:148px;
	height:148px;
	position: absolute;
	top:34px;
	left:0;
	background: #fff;
	text-align: center;
	background: #fff;
	display: none;
}
.top-range-left3 .shouji1{
	position: absolute;
	top:15px;
	left:82px;
}
.top-range-left a span{
	display:block;
	width:21px;
	height:21px;
	position:absolute;
	top:7px;
	left:1px;
}
.top-range-left .top-range-left3 span{
	width:20px;
	height:20px;
	top:6px;
	left:1px;
}
.top-range-left1 span{
	background: url(../images/top1.png) -4px -4px no-repeat;
}
.top-range-left2 span{
	 border-radius: 100%;
     background:url(../images/top1.png) -4px -62px no-repeat;
}
.top-range-left3 span{
     background:url(../images/top1.jpg) 0 0 no-repeat;
}
.top-range-left1:hover span{
	background-position: -4px -31.2px;
}
.top-range-left2:hover span{
    background-position: -4px -92px;
}
.top-range-left3:hover span{
    background-position: 0 -20px;
}
.top-range-left a:hover{
	color:#e5004f;
}
.top1-range-right{
	width:490px;
	height:34px;
	float:right;
}
.top-range1{
	height:34px;
	width:196px;
	float:left;
}
.top-range-right a{
	display: block;
	float: left;
	line-height: 34px;
	/*height: 26px;
	padding: 8px 10px 0;*/
}

.top-range1 span{
   display: block;
   float:left;
   width:120px;
   height:34px;
   line-height: 34px;
}
.top-range1 a{
   width:24px;
   height:34px;
   line-height: 34px;
   margin-right: 14px;
}
.top1-2-2{
   width:68px;
}
.top-range-right .bolockbox .top1-2-3{
	display:block;
	width:82px;
}
.bolockbox{
	width:82px;
	float: left;
	height:34px;
	position: relative;
}
.top1-2-3 .bolockbox .sssbb{
	display: block;
	position:absolute;
	top:34px;
	left:0;
	z-index:30;
}
.top-range-right .bolockbox .sssbb a{
 	display: block;
	width:82px;
	height:29px;
	text-indent: 10px;
	text-align: left;
	line-height: 29px;
	border-bottom:1px solid #ccc;
}
.top-range-right .bolockbox .sssbb a:hover{
	text-decoration: underline;
	color:#e5004f;;
}
.top1-2-4{
	width:56px;
}
.top-range-right a:hover{
   color:red;
}
.hengxian{
	display:block;
	width:3px;
	height:34px;
	float:left;
	line-height:34px;
	padding:0;
	margin:0;
}
.top-banner{
	width:100%;
	height:80px;
}
.top-banner a{
	display: block;
	height:100%;
	margin:0 auto;
	background: url(../images/top-banner1.jpg);
}
/*top顶部结束*/
/*搜索框开始*/
.search{
	width:1190px;
	height:120px;
	margin:0 auto;
}
.search .logo{
	width: 215px;
    height: 76px;
    float: left;
    margin: 22px 0;
}
.search .logo2{
	float: left;
    width: 145px;
    height: 80px;
    margin-top: 18px;
    overflow: hidden;
}
.search .line{
	float: left;
    width: 0px;
    height: 70px;
    margin: 6px 10px 0;
    overflow: hidden;
    border-left: 1px solid #efefef
}
.search a{
	float: left;
    width: 120px;
    height: 80px;
}
.search .search-car{
	float: right;
	width: 160px;
	height: 34px;
	margin: 40px 0 0 18px;
	background: url(../images/xiaotu.jpg) -62px -81px no-repeat;
}
.search .search-car strong{
	padding: 0 5px;
	font: 400 16px/34px Arial;
	color: #e5004f;
	vertical-align: middle;
}
.search-car span{
	float: left;
	height: 34px;
	color: #fff;
	line-height: 34px;
	padding-left: 48px;
}
.search .isearch{
	float: right;
	width:498px;
	height:60px;
	margin-top:40px;
}
.isearch .search-box{
	width: 494px;
	height: 30px;
	margin-bottom: 8px;
	border: 2px solid #323333;
}
.isearch .search-box input{
	width: 440px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	float: left;
	background: transparent;
	border: none;
	color: #888;	
}
.search-box .searchBtn{
	float: left;
	width: 44px;
	height: 30px;
	text-indent: -1000em;
	border: none;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/xiaotu.jpg) -6px -81px no-repeat;
}
.isearch .search-content{
	width:498px;
	height:20px;
}
.isearch .search-content a{
	height:20px;
	width:auto;
	line-height: 20px;
	font-size: 12px;
	margin-right: 12px;
	padding:0;
}
.isearch .search-content a:hover{
	color:#e5004f;
	text-decoration: underline;
}
/*搜索框结束*/
/*菜单开始*/
.top-mean{
	width:1190px;
	height:39px;
	margin:0 auto;
	text-align: center;
}
.top-mean .mean1{
	width:210px;
	height:39px;
	background: #222;
	line-height: 39px;
	font-size: 20px;
	color:#fff;
	float: left;
    margin-right: 20px;
}
.top-mean .mean2{
	height:39px;
	padding: 0 15px;
	color:#323333;
	float: left;
}
.top-mean .mean2 a{
    display:block;
    height:36px;
    font-size:16px;
    border-bottom:3px solid #fff;
}
.top-mean .mean2 a span{
	display: block;
	height:26px;
	line-height:20px;
	   font-size:16px;
	padding:10px 10px 0;
}
.top-mean .mean2 a:hover{
	border-bottom:3px solid #e5004f;
}
.top-mean .mean2 a span:hover{
	color:#e5004f;
}
.top-mean .mean3{
    width:149px;
    height:39px;
    float: right;
}
.mean3 a{
	font-size: 14px;
	font-height:39px;
	color:#323333;
	margin:8px 8px;
	float:left;
}
.mean3 a:hover{
	color:#e5004f;
}
.mean3 span{
	display: block;
	width:1px;
	height: 39px;
	line-height: 39px;
	float:left;
}
/*banner开始*/
.banner{
	width:100%;
	height:470px;
}
.banner-box{
	width:1190px;
	height:100%;
	margin:0 auto;
	position: relative;
}
/*左边菜单栏开始*/
.banner-left{
	width:210px;
	height:100%;
	position: absolute;
	top:0;
	z-index:40;
	background:#515151;
}
.banner-left .banner-left1{
	width:210px;
	height:30px;
	padding-top: 16px;
	margin-bottom: 1px;
	background:#333;
	line-height: 20px;
	position: relative;
}
.banner-left .banner-left1 img{
	position: absolute;
	right:15px;
	top:19px;
	opacity: 1;
}
.banner-left1:hover img{
	opacity: 0;
}
.banner-left1 .banner-left-content{
	display: inline-block;
	height:20px;
	font-size: 16px;
	line-height: 18px;
	float: left;
    color:#fff;
	margin-left: 20px;
	background: transparent;
}
.banner-none{
	width:495px;
	height:422.5px;
	position: absolute;
	left:210px;
	top:0;
	padding-top: 10px;
    display: none;
    background:#222;
    z-index:100;
    overflow: hidden;
}
.banner-none .sort-left{
	width: 295px;
	padding: 8px 20px 0;
	position: absolute;
	top:0;
	left:0;

}
.sort-left1{
	padding: 8px 0 7px 0;
	line-height: 20px;
    border-bottom: 1px dotted #666;
}
.sort-left1 h3 a{
	display: block;
	width:295px;
	height:20px;
	font-size:14px;
	margin:0;
	padding:0;
	font-weight: 400;
	color:#fff;
	text-align: left;
}
.sort-left1 a{
	display: inline-block;
	height: 20px;
	line-height:20px;
	margin-right: 4px;
	color: #fff;
}
.sort-left1 .red{
	color: #e5004f;
}
.sort-left1 a:hover{
	color:#e5004f;
}
.sort-left1 h3 a:hover{
	color:#e5004f;
}
.banner-none .sort-list{
	width:295px;
	padding:0 20px 0;
	float: left;
}
.sort-right1{
	width: 145px;
    padding: 15px 0 15px 15px;
/*	height:402px;*/
   height:100%;
    position: absolute;
    top:0;
    right:0;
	background:#000;
}
.sort-right1 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
.sort-list .sort-right1 a{
	float: left;
	display: inline;
	white-space: nowrap;
	height: 24px;
	line-height: 24px;
	color:#fff;
	margin-right: 10px;
}
.sort-list .sort-right a:hover{
	color: #e5004f;
}
.sort-list .sort-right1 a:hover{
	color: #e5004f;
}
.banner-left1 .banner-left-content span{
	display:inline-block;
	width:16px;
	height:16px;
	margin-right: 7px;
	vertical-align: top;
}
.banner-left111 .banner-left-content span{
	width:15px;
	height:13px;
	background: url(../images/xiaotu.jpg) -6px -116px no-repeat;
}
.banner-left111:hover span{
	background-position:-6px -134px;
}
.banner-left2 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -23px -116px no-repeat;
}
.banner-left2:hover span{
	background-position:-23px -134px;
}
.banner-left3 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -40px -116px no-repeat;
}
.banner-left3:hover span{
	background-position:-40px -134px;
}
.banner-left4 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -57px -116px no-repeat;
}
.banner-left4:hover span{
	background-position: -57px -134px;
}
.banner-left5 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -74px -116px no-repeat;
}
.banner-left5:hover span{
	background-position: -74px -134px;
}
.banner-left6 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -91px -116px no-repeat;
}
.banner-left6:hover span{
	background-position: -91px -134px;
}
.banner-left7 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -108px -116px no-repeat;
}
.banner-left7:hover span{
	background-position: -108px -134px;
}
.banner-left8 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -125px -116px no-repeat;
}
.banner-left8:hover span{
	background-position: -125px -134px;
}
.banner-left9 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -142px -116px no-repeat;
}
.banner-left9:hover span{
	background-position: -142px -134px;
}
.banner-left10 .banner-left-content span{
	background: url(../images/xiaotu.jpg) -160px -116px no-repeat;
}
.banner-left10:hover span{
	background-position: -160px -134px;
}
.banner-left1 i{
	float: left;
	width: 0;
	height: 16px;
	line-height: 16px;
	position: relative;
	top: 2px;
	left: 0;
	font-size: 0;
	overflow: hidden;
	border-left: 1px solid #999;
	margin: 0 8px;
}
.banner-left-content1{
    color:#fff;
}
.banner-left1:hover{
	background:#e5004f; 
}
.banner-left1 .banner-left-content1:hover{
	text-decoration: underline;
}
/*banner轮播开始*/
.lunbo-list{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
}
.lunbo-list a{
	display: block;
	position: absolute;
	top:0;
	left:1190px;
}
.lunbo-list a img{
	width:1190px;
}
.lunbo-link{
	width:140px;
	height:10px;
	position: absolute;
	z-index:20;
	bottom: 30px;
	left:50%;
	margin-left: -70px;
}
.lunbo-link li{
	width:30px;
	height:100%;
	float: left;
	background:#211616;
	margin-left: 5px;
}
.zuoyou{
	width:780px;
	height:0;
	position: absolute;
	bottom: 205px;
	z-index: 20;
	left:50%;
	text-align: center;
	margin-left: -385px;
}
.zuoyou div{
	width:30px;
	height:60px;
	background:#666;
	font-size:40px;
	line-height:60px;
	color:#fff;
	text-align:center;
}
.zuoyou div:hover{
	background:rgb(209,71,119);
}
.zuoyou .left{
    float: left;
}
.zuoyou .right{
    float: right;
}
/*banner轮播结束*/
.banner-you-img{
	display: block;
	width:200px;
	height:470px;
	position: absolute;
	top:0;
	right:0;
	z-index:25;
	-moz-transition:right 0.5s;
	-webkit-transition:right 0.5s;
	-o-transition:right 0.5s;
}
.banner-you-img:hover{
	right:5px;
}
.middle-you-img:hover{
	/*transform:translateX(-5px);*/
	position: absolute;
	top:0;
	right:10px;
}
/*banner结束*/
/*top结束*/
/*middle开始*/
.middle-box{
	width:1190px;
    margin:0 auto; 
}
/*选项卡开始*/
.select-box{
	width:100%;
	height:325px;
	margin-bottom: 25px;
	position: relative;
}
.select-box .select-link{
	width:909px;
	height:52px;
}
.select-box .select-link a{
	float: left;
	width:303px;
	height:47px;
	color: #000;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
     border-bottom: 5px solid white;
}
.select-box .select-link a span{
	display:block;
	list-style: none;
	width:0;
	height:0;
	border:5px solid white;
    border-bottom:5px solid white;
    margin: 0 auto;
}
.select-list{
	padding-top: 10px;
	width: 940px;
	height: 262px;
	overflow: hidden;
}
.select-list div{
	float: left;
}
.first .bt{
	width:0;
	height:50%;
	position: absolute;
	top:0;
	left:0;
	border-top:1px solid #000;
}
.first .bl{
	width:0;
	height:0;
	position: absolute;
	top:0;
	left:0;
	border-left:1px solid #000;
}
.first .br{
	width:0;
	height:0;
	position: absolute;
	bottom:0;
	right:0;
	border-right:1px solid #000;
}
.first .bb{
	width:0;
	height:0;
	position: absolute;
	bottom:0;
	right:0;
	border-bottom:1px solid #000;
}
.select-list div a{
	float: left;
	width:220px;
	height:260px;
	margin-right:9px;
	position: relative;
	border:1px solid #eee;
}
.select-list div a img{
	width:220px;
	height:260px;
}
.select-box .select-list-you{
	width:270px;
	height:300px;
	position: absolute;
    bottom:0;
    right:0;
}
.select-list-you a img{
	width:270px;
	height:300px;
}
/*选项开结束*/
.middle-banner{
	width:100%;
	height:80px;
	margin-bottom: 30px;
}
.middle2-top-img{
	width:100%;
	height: 46px;
}
.middle2-top-img a{
	display: block;
	padding-bottom: 10px;
	width:380px;
	height:36px;
}
/*middle2开始*/
.middle2{
	width:1168px;
	height:555px;
	padding:10px;
	border:1px solid #eee;
	margin-bottom: 20px;
	margin-bottom: 25px;
}
.middle2-1{
	float: left;
	width:340px;
	height:555px;
}
.middle-list-box{
	width:815px;
	height:100%;
	float: right;
}
.middle-list-box .middle2-link{
	width:100%;
	height:35px;
	border-bottom:3px solid #414141;
}
.middle2-link a{
	float: left;
	width:102px;
	height:35px;
	line-height: 29px;
	font-size: 14px;
	border-bottom:3px solid #414141;
}
.middle2-link a span{
	display: block;
	width:0;
	height:0;
	border:3px solid white;
	border-bottom: 3px solid white;
	margin:0 auto;
}
.middle-list-box .middle2-list{
	width:100%;
	height:517px;
	overflow: hidden;
}
.middle2-list .color a:hover{
	opacity: 0.7;
}
.middle-list-box .middle2-list .middle2-list-2 a{
	display: inline-block;
    width: 198px;
    height:251px;
	overflow: hidden;
	border: 1px solid #eee;
	float: left;
	margin-right: 3px;
	margin-top:5px;
	position: relative;
}

.middle-list-box .middle2-list .middle2-list-2 a .top1{
	width:0;
	height:0;
	position: absolute;
	background: transparent;
	top:0;
	left:0;
	border-left:1px solid #000;
	border-top:1px solid #000;
}
.middle-list-box .middle2-list .middle2-list-2 a .bottom1{
	width:0;
	height:0;
	background: transparent;
	position: absolute;
	bottom:0;
	right:0;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
.middle2-list-2-box{
	height:30px;
	width:188px;
    padding: 5px;
}
.middle2-list-2-box .list33{
	height:20px;
	width:188px;
	line-height: 20px;
	text-decoration: underline;
	color: #323232;
	font-size: 12px;
}
/*middle2结束*/
/*middle3开始*/
.middle3-banner{
	width:100%;
	height:80px;
	margin-bottom: 25px;
}
.middle3{
	width:1190px;
	height:418px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}
.middle3 .middle3-top{
	width:100%;
	height:46px;
}
.middle3 .middle3-top a{
	display: block;
    float: left;
    width:260px;
    height:36px;
    margin-left: 10px;
     margin-top: 3px;
}
.middle3-left{
	width:228px;
	height:370px;
	float:left;
    border: 1px solid #eee;
}
.middle3-left .middle3-left-top{
	padding: 16px 0 0 8px;
    width: 220px;
    height: 172px;
}
.middle3-left-top .middle-you-top-a{
	display: block;
    border: 1px solid #eee;
    width: 65px;
    height: 32px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    float:left;
    list-style: none;
    margin-right:4px;
    margin-bottom: 4px;
    padding: 0;
    color: #666;
}
.middle3-left-top a:hover{
	background: #e5004f;
    color: #fff;
    border: 1px solid #e5004f;
}
/*.middle3-left-bottom{
	width: 200px;
    height: 140px;
    background: #f2f2f2;
    border-top: 1px dashed #969696;
    margin-left: 15px;
    position: relative;
}
.middle3-left-bottom .sanjiao{
	width:14px;
	height:139px;
	margin: 0;
	float:left;
	margin-top:0;
}
.middle3-left-bottom .sanjiao1{
	position: absolute;
	top:0;
	left:0;
}
.middle3-left-bottom .sanjiao2{
	position: absolute;
	top:0;
	right:0;
}
.middle3-left-bottom .sanjiao span{
	display: block;
	width:0;
	height:0;
	border:7px solid #f2f2f2;
	margin-top: 66px;
}
.middle3-left-bottom .sanjiao1 span{
	border-right:7px solid #222;
}
.middle3-left-bottom .sanjiao2 span{
	border-left:7px solid #222; 
}
.middle3-left-bottom .middle3-left-bottom-img{
	width:172px;
	height:125px;
	background: #f2f2f2;
	 position: absolute;
	 top:10px;
	 left:14px;
} 
.middle3-left-bottom .middle3-left-bottom-img a{
	display: block;
	width:75px;
	height:50px;
	float:left;
	margin:5px;
}
.middle3-left-bottom-img a img{
	width:75px;
	height:50px;
}*/
.middle3-left-bottom{
	width: 200px;
    height: 140px;
    background: #f2f2f2;
    border-top: 1px dashed #969696;
    margin-left: 15px;
}
.middle3-left-bottom .sanjiao{
	width:14px;
	height:139px;
	margin: 0;
	float:left;
	margin-top:0;
}
.middle3-left-bottom .sanjiao1{
	float: left;
}
.middle3-left-bottom .sanjiao2{
   float: left;
}
.middle3-left-bottom .sanjiao span{
	display: block;
	width:0;
	height:0;
	border:7px solid #f2f2f2;
	margin-top: 66px;
}
.middle3-left-bottom .sanjiao1 span{
	border-right:7px solid #222;
}
.middle3-left-bottom .sanjiao2 span{
	border-left:7px solid #222; 
}
.middle3-left-bottom .middle3-left-bottom-img{
	width:170px;
	height:125px;
	background: #f2f2f2;
	float: left;
    position: relative;
    	overflow: hidden;
} 
.middle3-left-bottom-img .imgg-box{
	width:170px;
	height:125px;
	background: #f2f2f2;
	padding-top: 10px;
	position: absolute;
	top:0;
	left:170px;

}

.middle3-left-bottom .middle3-left-bottom-img a{
	display: block;
	width:75px;
	height:50px;
	float:left;
	margin:5px;
}
.middle3-left-bottom-img a img{
	width:75px;
	height:50px;
}
/*middle3中间轮播图开始*/
.middle3-middle{
	width:390px;
	height:370px;
	position: relative;
	float: left;
	overflow: hidden;
}
.middle3-middle a{
	display: block;
	width:390px;
	height:370px;
	position: absolute;
	top:0;
	left:-100%;
}
.middle3-middle a:hover{
	opacity: 0.7;
}
.middle3-middle .middle-anniu{
	width:390px;
	position: absolute;
	top:155px;
	text-align: center;
}
.middle-anniu .middle-anniu-left{
	width:30px;
	height:60px;
	position: absolute;
	left:-30px;
	background:#444;
	color:#fff;
	font-size: 40px;
	cursor: pointer;
}
.middle-anniu .middle-anniu-right{
	width:30px;
	height:60px;
	position: absolute;
	left:390px;
	color:#fff;
	background:#444;
	font-size: 40px;
	cursor: pointer;
}
.middle3-middle .circle{
    height:14px;
    width:46px;
    position: absolute;
    bottom:20px;
    left:172px;
    z-index: 20;
}
.middle3-middle .circle b{
	display: block;
	width:13px;
	height:13px;
	background:#666;
	border-radius:100%;
	margin-right:7px;
	float: left;
}
.middle3-middle:hover .middle-anniu{
	opacity: 0.8;
}
.middle3-middle .middle-anniu span:hover{
	background:rgb(209,71,119);
}
/*middle3中间轮播图结束*/
.middle3-right{
	height:370px;
	width:570px;
	min-width: 285px;
	position: absolute;
	bottom:0;
	right:0;
	overflow:hidden;
}
.middle3-right a{
	float:left;
	margin-left:11px;
	margin-bottom:3px;
	width:270px;
	height:180px;
	position: relative;
	border:1px solid #eee;
}
.middle3-right a img{
	max-width:269px;
}
.middle3-right a .top2{
 	width:0;
	height:0;
	position: absolute;
	background: transparent;
	top:0;
	left:0;
	border-left:1px solid #000;
	border-top:1px solid #000;   
}

.middle3-right a .bottom2{
	width:0;
	height:0;
	background: transparent;
	position:absolute;
	bottom:0;
	right:0;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
/*middle3结束*/
/*footer开始*/
.footer{
	width:100%;
	height: 167px;
	margin: 34px auto;
	border: 1px solid #eee;
	overflow: hidden;
}
.footer-1{
	width:395px;
	float: left;
	height: 165px;
	cursor: pointer;
	overflow: hidden;
	border-right:1px solid #eee;
}
.footer-1 a{
	display: block;
	width:390px;
	height:165px;
	margin:0 auto;
}
/*footer结束*/
/*middle结束*/
.footer-box{
	width:100%;
	min-width: 1190px;
	margin-top: 20px;
	padding-top: 20px;
}
.footer-top{
	width: 1188px;
	height: 88px;
	border: 1px solid #eee;
	background-color: #f7f7f7;
	margin:0 auto;
	margin-bottom: 35px;
}
.footer-top .footer-top1{
	width: 282px;
	height: 68px;
	padding: 20px 0 0 45px;
	float:left;
	border-right: 1px solid #eee;
}
.footer-top1 strong{
	display: inline-block;
	padding: 0 20px 0 24px;
	font-size: 20px;
	font-family: Arial;
	color: #e5004f;
	background: url(../images/footer-01.png) 2px 0 no-repeat;
}
.footer-top span b{
	display: inline-block;
	float:left;
	padding-left:24px;
    font-size:14px;
    float:left;
    color: #888;
    font-size:12px;
    padding:0;
}
.footer-top1 b{
	display: inline-block;
	width:122px;
	float:left;
	padding-left:24px;
    font-size:14px;
    font-family: Arial;
    background: url(../images/footer-01.png) 0 -28px no-repeat;
}
.footer-top2{
	width: 186px;
	height: 65px;
	padding: 23px 0 0 100px;
	background: url(../images/footer-01.png) 52px -56px no-repeat;
	float: left;
	border-right: 1px solid #eee;
}
.footer-top4{
	background: url(../images/footer-01.png) 52px -132px no-repeat;
	float: left;
}
.footer-top span strong{
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	font-family: normal;
}
.footer-top span i{
	color: #e5004f;
	font-family: normal;
}
.footer-top3{
	width: 140px;
	height: 65px;
	padding: 23px 0 0 115px;
	background: url(../images/footer-01.png) 52px -203px no-repeat;
	float: left;
	border-right: 1px solid #eee;
}
.bottom-2{
	width:1190px;
	height:18px;
    margin-bottom:25px;
    margin:0 auto;
    text-align: center;
}
.bottom-2 a{
	display: inline-block;
	float:left;
	 font-size: 12px;
    line-height: 18px;
    color:#666;
    text-align:center;
    margin: 0 10px;

}
.bottom-2 span{
	display:inline-block;
	float:left;

}
.bottom-2 .bottom-2-a{
	margin-left:160px;
}
.bottom-2 a:hover{
	color:#e5004f;
}
.bottom3{
	width:1190px;
	height: 44px;
	margin:0 auto;
	text-align: center;
	margin-top: 25px;

}
.bottom3 p{
	line-height: 22px;
    color: #b2b2b2;
}
.bottom3 p a{
	  color: #b2b2b2;
}
.bottom4{
	width:1190px;
	height:58px;
	padding:10px 0 20px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
}
.bottom4 a{
	margin-right:30px;
}
/*guding开始*/
.guding{
	width:50px;
	height:545px;
	position:fixed;
	left:50%;
	bottom:20px;
	margin-left: 600px;
	z-index: 10;
	display: none;

}
.guding div{
	display: block;
	width:50px;
	height:50px;
	margin-bottom: 5px;
	position: relative;
}
.guding div a{
	display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    padding: 5px 10px 15px;
	opacity: 0;
	line-height: 18px;
    background: #e5004f;
    color: #fff;
    font-size: 14px;
     text-align: center;
}
.guding div a:hover{
	opacity: 1;
}
 .guding1{
	background:url(../images/guding1.jpg) 0 0 no-repeat;
}
 .guding2{
	background:url(../images/guding2.jpg) 0 0 no-repeat;
}
 .guding3{
	background:url(../images/guding3.jpg) 0 0 no-repeat;
}
 .guding4{
	background:url(../images/guding4.jpg) 0 0 no-repeat;
}
 .guding5{
	background:url(../images/guding5.jpg) 0 0 no-repeat;
}
 .guding6{
	background:url(../images/guding6.jpg) 0 0 no-repeat;
}
 .guding7{
	background:url(../images/guding7.jpg) 0 0 no-repeat;
}
 .guding8{
	background:url(../images/guding8.jpg) 0 0 no-repeat;
}
 .guding9{
	background:url(../images/guding9.jpg) 0 0 no-repeat;
}
 .guding10{
	background:url(../images/guding10.jpg) 0 0 no-repeat;
}
.mask{
	display: block;
	width:50px;
	height:50px;
	position: absolute;top:0;
	right:0;
	opacity: 0;
}
.mask:hover{
  opacity: 1;
}
/*固定窗结束*/